body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #e0e0e0;
  background-color: #121212;
  margin: 0;
  padding: 20px;
  background-image: url("/background-bbf4af533456131bea3c.png");

}
