<!DOCTYPE html>
<html lang="en">
<head>
  <title> Home page </title
  <%- include('../partials/head'); %>
</head>

<header>
  <div class="container">
    <title>Linkedeline </title>
    <h1>Linkedeline </h1>
    <%- include('../partials/header'); %>
  </div>
</header>

<body class="container">

  <div class="divert">
    <a class="social" href="https://github.com/Linkedeline" target="_blank" rel="noreferrer noopener" aria-label="Github">
    <img src="img/github.svg" alt="Github logo"/>
  </a>

  <a class="social" href="https://x.com/Linkedeline" target="_blank" rel="noreferrer noopener" aria-label="Twitter">
    <img src="img/twitterx.svg" alt="Twitter logo"  />
  </a>

  <a class="social" href="https://www.linkedin.com/in/noel-belanger-585448113" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn">
    <img src="img/linkedin.svg" alt="LinkedIn logo" />
  </a>

  <a class="social" href="https://www.instagram.com/lilinkydinky/" target="_blank" rel="noreferrer noopener" aria-label="Instagram">
    <img src="img/instagram.svg" alt="Instagram logo" >
  </a>

</body>

<footer>

    <%- include('../partials/footer'); %>

</footer>

</html>
