<!DOCTYPE html>
<html lang="en">
<head>
  <title> Home page </title
  <%- include('../partials/head'); %>
</head>

<header>
  <div class="container">
    <title>Linkedeline </title>
    <h1>Linkedeline </h1>
    <%- include('../partials/header'); %>
  </div>
</header>

<body>

</body>

<footer>

    <%- include('../partials/footer'); %>

</footer>

</html>
